<!DOCTYPE html>
<html lang="en" class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Marionette Design -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>发改委移动端鉴权系统</title>
    <link rel="shortcut icon" th:href="@{/jquery/images/favicon.ico}">
    <link rel="stylesheet" type="text/css" th:href="@{/admin/css/normalize.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/admin/css/lwInteraction.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/admin/css/component.css}" />
    <!--[if IE]>
    <script type="text/javascript" th:src="@{admin/script/html5.js}"></script>
    <![endif]-->
</head>
<body>
<div class="container demo-1">
    <div class="content">
        <div id="large-header" class="large-header">
            <canvas id="demo-canvas"></canvas>
            <div class="logo_box">
                <h2>发&nbsp;改&nbsp;委&nbsp;移&nbsp;动&nbsp;端&nbsp;鉴&nbsp;权&nbsp;系&nbsp;统</h2>
                <div class="layui-form">
                    <div class="input_outer">
                        <span class="u_user"></span>
                        <input name="username" class="textUser" type="text"  placeholder="请输入账户" autocomplete="off">
                    </div>
                    <div class="input_outer">
                        <span class="us_uer"></span>
                        <input name="password" class="textPwd" type="password" placeholder="请输入密码" autocomplete="off">
                    </div>
                    <div class="input_verCode">
                        <span class="us_yz"></span>
                        <input name="verCode" class="textVer" type="text" maxlength="4" placeholder="请输入验证码" autocomplete="off">
                    </div>
                    <div class="input_verCodeImg">
                        <img class="verCodeImg" id="verCode" src="login/getVerify">
                    </div>

                    <label class="login-tips">&nbsp;</label>

                    <div class="mb2"><a class="act-but submit" lay-submit lay-filter="LAY-user-login-submit">登录</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    let rootUrl = [[${#httpServletRequest.getContextPath()}]];
</script>
<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/jquery/jquery.js}"></script>
<script type="text/javascript" th:src="@{/admin/script/TweenLite.min.js}"></script>
<script type="text/javascript" th:src="@{/admin/script/EasePack.min.js}"></script>
<script type="text/javascript" th:src="@{/admin/script/rAF.js}"></script>
<script type="text/javascript" th:src="@{/admin/script/lwInteraction.js}"></script>
<script type="text/javascript" th:src="@{/admin/script/adminLogin.js}"></script>
</body>
</html>